header {
  height: auto;
  width: 100%;
  padding: 1.5em;
  padding-top: 8em;
  display:flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  background-color: burlywood;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
}

