nav {
  background-color: none;
  height: 120px;
  width: 100%;
  top: 0;
  margin-bottom: 0;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "Bungee";
  font-size: 24px;
  color: #FFFFFF;
  padding:0 1.5em 0 1.5em;
}

.container {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top:20px;
}
.icon_container{
  margin-left: 130px;
}



@media only screen and (min-width: 768px) {
  nav {
    background-color: none;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: rgb(79, 161, 79);
  }

}
